<div class="mt-3 d-md-none"></div>
<div class="row">
    <div class="col">
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-4">
                <div class="row px-3 pt-3">
                    <div class="col h3">
                        Misc
                    </div>
                </div>
                <div class="row p-3">
                    <div class="col">
                        <div class="text-profile-bio mt-0" {% if site.data.profile.misc_text_justify %}style="text-align: justify;"{% endif %}>
                            {{ site.data.profile.misc }}
                        </div>
                    </div>
        
                </div>
            </div>
        </div>        
    </div>
</div>
